nav {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}
.logo {
  text-decoration: none;
  font-size: 30px;
  color: red;
  cursor: pointer;
}
.logo:hover {
  color: rgb(2, 24, 32);
  filter: drop-shadow(0 0 100px rgb(94, 211, 254));
}
.contenedor-productos {
  background-color: rgba(169, 169, 169, 0.332);
  padding: 30px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.card {
  background-color: rgba(0, 255, 255, 0.423);
  filter: blur(-10px);
  -webkit-backdrop-filter: blur(-10px);
  width: 60%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  padding: 12px;
  z-index: ;
}
.card img {
  border-radius: 5px;
  width: 30%;
}
.text-card {
  margin-left: 10px;
  width: 40ch;
  height: 100%;
}
.text-card h4 {
  display: flex;
  justify-content: start;
  align-items: end;
}
