body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 30px;

  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}
nav {
  margin-top: 30px;
}
.menu {
  color: #007bff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  height: 45px;
}

.sidebard {
  background-color: #101010;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
}
.logo {
  color: orange;
  font-size: 40px;
  font-weight: bold;
}
.btn {
  background-color: #007bff;
  padding: 20px;
}
.container {
  padding: 10px 30px;
  background-color: #eceae6;
}

.btn button {
  background-color: black;
  color: antiquewhite;
  border-radius: 12px;
  border: solid 2px rgb(255, 238, 0);
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
}
.contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-image: url(../assets/images/anime\ card.jpg);
  background-size: cover; /* Added to make the image cover the card */
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
}
.card div {
  display: flex;
  justify-content: center;
  align-items: start;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.212);
  padding: 10px;
  border-radius: 10px;
}

.form {
  width: 200px;
  border: solid 1px;
  box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
  padding: 20px;
  background-color: #e9eaeb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff8800, #5098e6);
  color: #f0f0f0;
}
.form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}
.container-form {
  display: flex;
  justify-content: space-around;
  margin-block: 70px;
  background-color: #f0f0f0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  background-color: #007bff;

  padding: 20px;
}

.btn button {
  background-color: black;
  color: antiquewhite;
  border-radius: 12px;
  border: solid 2px rgb(255, 238, 0);
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
}
.contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-color: #f0f0f0;
  padding: 20px;
}
.form {
  width: 200px;
  border: solid 1px;
  box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
  padding: 20px;
  background-color: #e9eaeb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff8800, #5098e6);
  color: #f0f0f0;
}
.form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}
.container-form {
  display: flex;
  justify-content: space-around;
  margin-block: 70px;
  background-color: #f0f0f0;
}
