nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
}

.btn button {
  background-color: black;
  color: antiquewhite;
  border-radius: 12px;
  border: solid 2px rgb(255, 238, 0);
  cursor: pointer;
  padding: 15px;
  font-size: 13px;
  border: none;
  transition: all 0.3s ease;
}
.btn button:hover {
  background: linear-gradient(to right, #ff88008b, #5099e693);
  box-shadow: 0 0 100px 5px blue;
  color: black;
  transform: translateY(-2px);
}
.contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-color: #f0f0f0;
  margin-block: 70px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
}
.form {
  width: 400px;
  border: solid 1px;
  box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
  padding: 20px;
  background-color: #e9eaeb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff880094, #5099e687);
  color: #f0f0f0;
  cursor: pointer;
}
.form input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.form select {
  padding: 12px;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}
form select option {
  background-color: #e9eaeb41;
  color: black;
  padding: 10px;
}
.container-form {
  display: flex;
  justify-content: space-around;
  margin-block: 50px;
  background-color: #f0f0f0;
}
.preview-content {
  border: solid 2px black;
  padding: 30px;
  border-radius: 20px;
  width: 30ch;
}
#imagen_p {
  width: 100px;
}
