body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 30px;

  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}
nav {
  margin-top: 30px;
}
.menu {
  color: #007bff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  height: 45px;
}

.sidebard {
  background-color: #101010;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
}
.logo {
  color: orange;
  font-size: 40px;
  font-weight: bold;
}

.container {
  padding: 10px 30px;
  background-color: #eceae6;
}

.contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-image: url(../pages/sergg.jpg);
  background-size: cover; /* Added to make the image cover the card */
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card div {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.427);
  padding: 10px;
  border-radius: 25px;
}
.card div h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 25px;
}
.card div p {
  margin: 0;
}

.form {
  width: 200px;
  border: solid 1px;
  box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
  padding: 20px;
  background-color: #e9eaeb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff8800b5, #5099e69c);
  color: #f0f0f0;
}
.form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}
.container-form {
  display: flex;
  justify-content: space-around;
  margin-block: 70px;
  background-color: #f0f0f0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-color: #f0f0f0;
  padding: 20px;
}
.form {
  width: 350px;
  border: none;
  box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
  padding: 20px;
  background-color: #dbdad6;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff8800, #5098e6);
  color: #f0f0f0;
}
.form input {
  padding: 8px;
  border-radius: 4px;
  border-bottom: solid 1px #9e9e9e;
  margin-bottom: 10px;
  background-color: #dbdad6;
  transition: all 0.3s ease;
}
.form input:hover {
  border-bottom: solid 1px #007bff;
  transform: translatey(-6px);
}
.form input:focus {
  outline: none;
}

.form-sec {
  width: 500px;
}
#categoria {
  padding: 5px;
  border: none;
  margin-block: 10px;
  border-bottom: solid 1px #9e9e9e;
  cursor: pointer;
  background-color: #dbdad6;
}
.btn {
  gap: 20px;
}
.btn-ver {
  background-color: #0059ff;
  color: antiquewhite;
}
.btn button {
  border-radius: 12px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
}
.btn-comprar {
  background-color: #ff8800;
  color: antiquewhite;
}
#categoria:focus {
  outline: none;
}
.preview-content {
  width: 300px;
}
.preview-content article {
  padding: 20px;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 20px 10px rgba(14, 18, 20, 0.151);
}
