nav {
<<<<<<< HEAD
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    background-color: #007bff;
    padding: 20px;
}

.btn button {
    background-color: black;
    color: antiquewhite;
    border-radius: 12px;
    border: solid 2px rgb(255, 238, 0);
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
}
.contenedor-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card {
    background-color: #f0f0f0;
    padding: 20px;
}
.form {
    width: 200px;
    border: solid 1px;
    box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
    padding: 20px;
    background-color: #e9eaeb;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}
.form button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #ff8800, #5098e6);
    color: #f0f0f0;
}
.form input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
}
.container-form {
    display: flex;
    justify-content: space-around;
    margin-block: 70px;
    background-color: #f0f0f0;
}
=======
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  background-color: #007bff;

  padding: 20px;
}

.btn button {
  background-color: black;
  color: antiquewhite;
  border-radius: 12px;
  border: solid 2px rgb(255, 238, 0);
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
}
.contenedor-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  background-color: #f0f0f0;
  padding: 20px;
}
.form {
  width: 200px;
  border: solid 1px;
  box-shadow: 0 0 30px 20px rgba(50, 182, 239, 0.1);
  padding: 20px;
  background-color: #e9eaeb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff8800, #5098e6);
  color: #f0f0f0;
}
.form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}
.container-form {
  display: flex;
  justify-content: space-around;
  margin-block: 70px;
  background-color: #f0f0f0;
}
>>>>>>> aa8f1f26da3f22b39fd4c54ff36d8a6e0f9dfadb
